{% load static %}

<div class="album py-5 px-2 bg-light">
    <div class="container">
        {% if topic %}
        <h1>{{topic}}</h1>
        {% else %}
        <h1>Gallery</h1>
        {% endif %}

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 py-2 g-3">


            {% if images %}
            {% for image in images %}


            <div class="col col-md-4">
                <div class="card shadow-sm">
                    <img src="static/img/{{topic}}/{{ image}}.jpg"/>

                    <div class="card-body">
                        <p class="card-text">{{ image }}</p>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No images.</p>
            {% endif %}
        </div>
    </div>
</div>
</div>
